version: "3.8"

services:
  torch:
    build: .
    container_name: torch_cpu
    volumes:
      - ${PWD}:/workspace
    tty: true
    stdin_open: true

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
